---
import type Link from '../../types/link';
import type ImageType from '../../types/image';
import type {
	ArrayPageBuilderBlockByType,
	BlockSettings,
} from '../../lib/content/pageBuilderTypes';
import Image from '../atoms/Image.astro';

/**
 * Billboard block content plus shared renderer settings.
 */
interface Props
	extends
		Omit<ArrayPageBuilderBlockByType<'billboard'>, '_type'>,
		BlockSettings {
	link?: Link;
	image?: ImageType;
}

const {
	heading = '',
	body = '',
	as,
	hLevel,
	index,
	priority,
	link = { text: '', url: '' },
	image,
} = Astro.props as Props;
// Astro supports dynamic tag names in component variables for semantic wrappers.
const Wrapper = as;
const Heading = 'h' + hLevel;
---

<Wrapper>
	<Heading>
		{heading}
	</Heading>
	{body.length ? <p>{body}</p> : null}
	{
		link?.text.length && link?.url.length ? (
			<a href={link.url}>{link.text}</a>
		) : null
	}
	{
		image?.src ? (
			<Image {...(image as Required<ImageType>)} priority={priority} />
		) : null
	}
</Wrapper>
